*{
    margin: 0 0 0 0;
}

body, html
{
    width: 100%;
    height: 100%;
    font-family: Baskerville;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid #F5F7F6;
    -webkit-text-fill-color: #F5F7F6;
    -webkit-box-shadow: 0 0 0px 1000px rgba(75, 75, 75,1.0) inset;
}
