*{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.landingImage {
    background-image: url('../img/welcome.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

#landing .overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.landingContent {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.item {
    color: red ;
    z-index: 100;
    font-weight: 100;
    letter-spacing: 2px;
}

.name {
    color: #21091F ;
    grid-column: 1;
    grid-row: 1/ 2;
    display: grid;
    align-items: end;
    text-shadow: 0px, 0px, 4px, 0.1px;
    justify-content: end;

}

.routes {
    grid-column: 1;
    grid-row: 2;
    z-index: 100;
    grid-template-rows: repeat(6, 40px);
    display: grid;
    align-content: center;
    justify-content: end;
}

.routes li {
    list-style-type: none;
   }

.admin {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    align-items: end;
    justify-content: end;
}
